.header{
	padding-block: 16px;
	background-color: #fff;

	&-container{
		
		gap:32px;

		@media (max-width: 767px) {
		 justify-content: space-between;
		}
	}
	&-content{
		flex-grow: 1;
	}
	&-info{
		padding-bottom: 16px;
		border-bottom: 1px solid $g3;
		column-gap: 32px;
		@media (max-width: 767px) {
		border-top: 1px solid $g3;
		border-bottom:0;
		padding-top: 32px;
		padding-bottom: 0;
		}
	}
	&-nav{padding-top: 16px;}
	.btn-wrapper{
		margin-left: auto;
		.btn{
			height: 37px;
			padding-left: 24px;
			padding-right: 24px;
			font-size: 14px;
			line-height: 37px;
		}
		@media (max-width: 767px) {
			margin-left: 0;
			width: 100%;
			margin-top: 32px;
			.btn{width: 100%;}
			
		}
	}
}
.logo {
	flex-shrink: 0;
	width: 96px;
	height: 88px;

	svg.svg-logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	@media (max-width: 767px) {
		width: 68px;
		height: 62px;
	}
}