.partners{
	padding-block:124px;
	position: relative;
	// background-image: url('../img/v2/light-bg.webp');
	&:after{
		content: '';
		inset:0;
		background: rgba(255, 255, 255, 0.25) url("../img/v2/light-bg.webp");
		mix-blend-mode: hard-light;
		opacity: 0.55;
		position: absolute;
	}
	&-card-wrapper{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px 40px;
		position: relative;
		z-index: 2;
		@media (max-width: 1023px) {
		 gap: 16px 32px;
		}
		@media (max-width: 767px) {
			display: flex;
			gap:0;
			width: calc(50% + 50vw);
			overflow: hidden;
			overflow-x: auto;
			scrollbar-width: none;
			&::-webkit-scrollbar{
				display: none;
			}
		}
	}
	&-card{
		grid-column: span 6;
		@media (max-width: 767px) {
			width: 327px;
			flex-shrink: 0;
			margin-right: 16px;
		}
				
			
		
	}
	&-card__img{
		border-radius: 16px;
		overflow: hidden;
		margin-bottom: 16px;
		aspect-ratio: 63/32;
		overflow: hidden;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
			
		}
	}
	@media (max-width: 767px) {
		padding-block: 56px;
	  .h2.txt-center{text-align: left;}
		&-card__img {aspect-ratio: 327/320;}
	}
}