.services{
	padding-top: 140px;
	.h2 {
			max-width: 1000px;
			margin-inline: auto;
		}
	@media (max-width: 1199px) {
	padding-top: 120px;
	}
		@media (max-width: 767px) {
		padding-top: 56px;
	.h2 {text-align: left;}
	}
}
.service-card{
	padding: 24px 16px;
	background-color: #fff;
	border: 1px solid $g3;
	border-radius: 16px;
	min-height: 378px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: .3s; 
	&__img{
		text-align: center;
		flex-shrink: 0;
		@media (max-width: 767px) {
			border: 1px solid $g3;
			margin-bottom: 16px;
			height: 270px!important;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__txt .h5, &__txt p{margin-bottom: 12px; transition: .3s; }
	&:hover{
		box-shadow: 0 0 15px rgba(0,0,0, .15);
		.h5 {color: $pr2;}
		@media (max-width: 767px) {
		box-shadow: none;
		}
	}
	@media (max-width: 767px) {
		border: 0;
		padding:0;
	}
}
.services-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	gap: 30px;
}
.service-card:nth-child(6n+1) {
	grid-column: span 7;
	grid-row: span 2;
	height: auto;
	padding-top: 40px;
	@media (max-width: 767px) {
	grid-column: span 12;
	padding-top: 20px;
	
	}
}

/* Пятая, одиннадцатая, семнадцатая и т.д. карточки */
.service-card:nth-child(6n+5) {
	grid-column: 6 / span 7;
	grid-row: span 2;
	height: auto;
	@media (max-width: 767px) {
		grid-column: 1 / span 12;
		
	}
}

/* Все остальные карточки */
.service-card:not(:nth-child(6n+1)):not(:nth-child(6n+5)) {
	grid-column: span 5;
	grid-row: span 1;
	@media (max-width: 767px) {
		grid-column: span 12;
	}
}