.why-us{
	@media (max-width: 767px) {
		.h2{text-align: left!important;}}
}
.serv-card-wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-radius: 24px;
	overflow: hidden;
	@media (max-width: 1023px) {
		border-radius: 0;
	row-gap:10px;
	}
}