//============= О СЕРВИСЕ ==============
section.about.pb-124#about
	.container
		.about-content
			//============= ТЕКСТ ==============
			.about__txt
				h2.h2 О сервисе
				p  «Рабочий легион» — автоматизированная платформа для простого<br> и быстрого подбора разнорабочих: сервис помогает найти временных сотрудников для выполнения отдельных задач, при этом позволяет<br> не беспокоиться о договорах и соглашениях — мы берем на себя все бухгалтерские и юридические вопросы.
				p Найти квалифицированных разнорабочих, к примеру, для погрузочных работ, уборки, покоса травы или подсобных работ на сайте компании легко: стоит только ввести все необходимые данные, оставить заявку, и мы подберем для вас подходящих исполнителей. При этом не обязательно быть владельцем предприятия — сервисом может воспользоваться каждый, кто ищет специалистов для краткосрочного найма.
				p Оставить заявку на поиск можно как на сайте, так и с помощью мобильного приложения или телеграмм-бота. Оба варианта позволяют не только связаться с нами, но и выполнить оплату за услуги и следить за ходом их выполнения. Сомневаетесь, что найм рабочих — это просто? Предлагаем воспользоваться сервисом и убедится, что он действительно удобный!
				//======== БЛОК С СЫЛКАМИ =====
				.apps-wrapper
					//====== БОТ БЛОК =====
					.bot-block
						h4.cap-700 Для перехода к чат-боту – выберите город
						//===== выбор города ====
						.custom-select-wrapper
							.custom-select
								.custom-select__trigger
									span Москва #[sup *]
									.arrow
								//===== выпадающий список ====
								.custom-options
									span.custom-option.selected(data-value="Москва") Москва
									span.custom-option(data-value="Саратов") Саратов
									span.custom-option(data-value="Ростов") Ростов
									span.custom-option(data-value="Санкт-Петербург") Санкт-Петербург
						
						//===== ссылка телеграм =====
						a(href="#!").btn.w-100 Открыть бота в Telegram
					
					//======ПРИЛОЖЕНИЯ =====
					.app-block
						h4.cap-700 Установить приложение
						.fl-row
							//====qr  код =====
							.qrcode-img
								img(src="./img/qrcode.svg", width="111" alt="img")
							
							//====app links  =====
							.app-links
								a(href="#!").app-link
									img(src="./img/google-play.svg", alt="")
								a(href="#!").app-link
									img(src="./img/app-store.svg", alt="")
			
			//============= ИЗОБРАЖЕНИЕ ==============
			.about__img
				img(src="./img/about.webp", width="596" alt="img")