//============= О СЕРВИСЕ ==============
section.about#about
	.container
		.about-content
			//============= ТЕКСТ ==============
			.about__txt
				h2.h2 О сервисе
				p «Рабочий Легион» - простой, но эффективный инструмент для бизнеса, который нуждается в регулярном найме рабочего персонала: мы предлагаем доступ к автоматизированной цифровой платформе, где собраны тысячи самозанятых, уже сегодня готовых к сотрудничеству.
				p «Рабочий Легион» будет полезен и компании, и начинающему предпринимателю, ведь поможет начать работу с минимальным количеством специалистов на аутсорсинге. Мы не просто найдем рабочих, а сделаем доступной автоматизированную платформу, где вы сами сможете подобрать персонал для выполнения работ, следить за выполнением поставленных задач, выставлять оценки, формировать рейтинг исполнителей, а также собирать заявки от клиентов.
				p При этом, рутинные процессы теперь будут занимать меньше времени и сил: наши эксперты расскажут, как оптимизировать процессы отчетности, снизить затраты в фонд оплаты труда, минимизировать налоговые риски, а также повысить эффективность коммуникации с временными рабочими.
				p Прозрачную систему работы с самозанятыми «Рабочий легион» уже выбрали более 100 компаний в 50 регионах страны. Ее с успехом используют и частные лица, и посредники в сфере подбора персонала. Хотите убедиться, что это выгодно? Присоединяйтесь к нашей команде и оцените работу платформы прямо сейчас!
				.buttons-group
					a(href="#!" frame-btn="popup" ).btn Стать партнером
					a(href="#!").btn.btn--outline.txt-dark Просмотреть сайт для клиентов
			//============= ИЗОБРАЖЕНИЕ ==============
			.about__img(data-aos="zoom-in")
				img(src="./img/v2/logo-big.svg", width="554" height="508" alt="img")