//========= BENEFITS =========
section.benefits
	.container
		h2.h2 Почему бизнес выбирает #[span.txt-pr2 «Рабочий легион»?]
		
		.benefits-content(data-aos="fade-up")
			//======= один элемент ======
			+benefit('ic1', 'Комплексное решение', '«Рабочий легион» - это единая система для работы с самозанятыми. Мы поможем выполнить поиск, нанять, проконтролировать качество работ, а также выплатить зарплату и оформить необходимые отчеты')
			//======= один элемент ======
			+benefit('ic2', 'Удобство использования', 'Интерфейс платформы – простой и интуитивно понятный. Для максимального комфорта пользователей разработано мобильное приложение и чат-бот')
			//======= один элемент ======
			+benefit('ic3', 'Быстрый подбор', 'Мы даем возможность сэкономить время и ресурсы на поиск и отбор временных специалистов.  Нужны грузчики или бригада строителей? К вашим услугам быстрая связь с исполнителем и возможность сотрудничать с ним в дальнейшем')
			//======= один элемент ======
			+benefit('ic4', 'Обучение и поддержка', 'Мы научим вас работать с платформой, расскажем о ее возможностях, обеспечим доступ к ней в любое время суток, назначим ответственного эксперта, который будет всегда на связи и выполнит настройку системы')
			//======= один элемент ======
			+benefit('ic5', 'Выгодные тарифы', 'Партнерство с нами могут позволить себе даже мелкие предприятия со стабильным доходом. У нас доступные цены, регулярные акции для новичков, а также программа лояльности для постоянных клиентов')

			//======= один элемент ======
			+benefit('ic6', 'Автоматизация процессов', 'Объем ручной работы значительно сократится, рутинные задачи будут автоматизированы. Мы гарантируем снижение затраты на управление персоналом, а также оптимизацию расходов')