//========= BENEFITS =========
section.benefits
	.container
		h2.h2 Почему нас выбирают клиенты?
		
		.benefits-content
			//======= один элемент ======
			+benefit('crow', 'Большая база исполнителей', 'В нашей базе представлены сотрудники большинства рабочих профессий. Мы без проблем найдем для вас грузчика, подсобника и даже сварщика')
			//======= один элемент ======
			+benefit('settings', 'Надежность и безопасность', 'Все исполнители проходят тщательны отбор и проверку документов. Мы работаем только с проверенными самозанятыми специалистами')
			//======= один элемент ======
			+benefit('user', 'Высокая скорость поиска', 'От подачи заявки, заполнения анкеты до найма, как правило, проходит несколько часов. Система максимально автоматизирована, а исполнителей более чем достаточно')
			//======= один элемент ======
			+benefit('rev', 'Гибкая система тарифов', 'Для разовых заказов предлагаем почасовую оплату, для объемных задач – работы на полный день, для постоянных клиентов – подписку на определенное количество часов в месяц')
			//======= один элемент ======
			+benefit('del', 'Отсутствие бумажной работы', 'Мы берем на себя заключение договора и взаимодействие с ФНС. Самостоятельно выплачиваем зарплату исполнителям, не забываем об оплате налогов')

			//======= один элемент ======
			+benefit('chat', 'Круглосуточная поддержка', 'При необходимости, оперативно заменим исполнителя, разберемся с оплатой, поможем пройти авторизацию в приложении')