section.cooperation.pb-124
	.container
		h2.h2.txt-center Как начать сотрудничество?
		.cooperation-grid
			//==== lists ====
			.cooperation-list
				.benefit-card
					.benefit-card-head
						span.fl-icon 1
						.h4 Оставьте заявку на сотрудничество
					p Дождитесь звонка менеджера, получите ответы на интересующие вопросы
				.benefit-card
					.benefit-card-head
						span.fl-icon 2
						.h4 Партнерское соглашение
					p Заключите партнерское соглашение с сервисом «Рабочий легион». Выполните оплату, получите доступ к платформе, установите приложение
			
				.benefit-card
					.benefit-card-head
						span.fl-icon 3
						.h4 Внедрение и запуск платформы 
					p Внедрите и запустите платформу под руководством экспертов. Проконтролируйте настройку сервиса под ваши бизнес-процессы
				.benefit-card
					.benefit-card-head
						span.fl-icon 4
						.h4 Нанимайте рабочих
					p Нанимайте рабочих для выполнения конкретных задач. Оптимизируйте рабочий процесс, оставляйте отзывы об исполнителях
			
			//====image banner ====
			.cooperation-banner
				img(src="./img/v2/picture9.webp", width="588" height="640" alt="img")