//=============== CTA ============
section.cta.bg-light
	.container
		.cta-content
			//========LEFT COLUMN ========
			.cta-txt
				h3.h3 Оставьте заявку на доступ к цифровой платформе #[span.txt-pr2 «Рабочий легион»] и находите исполнителей для своего бизнеса уже сегодня!
				a(href="#!").btn Стать партнером
			
			//========RIGHT COLUMN ========
			.serv-list
				.h3  А также получите:
				ul.mark-list.reg-20
					li 50% скидку на абонентскую плату в первый месяц
					li Постоянную скидку 10% на абонентскую плату после 1 года сотрудничества
					li Настройку и интеграцию платформы под Ваши бизнес-процессы