//=============== CTA ============
section.cta.bg-light
	.container
		.cta-content.fl-row
			//========LEFT COLUMN ========
			.cta-txt
				h2.h2 Предоставим лучших специалистов для&nbsp;любой задачи!
				a(href="#!").btn Найти рабочих
			
			//========RIGHT COLUMN ========
			.cta-lists
				//==== SINGLE ITEM =====
				.serv-list
					.fl-icon.bg-dark
						svg.svg-house
							use( href='./img/spriteSvg.svg#svg-house')
					.h4  Компаниям, предприятиям
					ul.mark-list
						li Под конкретные проекты
						li Для покрытия временной потребности в рабочей силе
				//==== SINGLE ITEM =====
				.serv-list
					.fl-icon.bg-dark
						svg.svg-person
							use( href='./img/spriteSvg.svg#svg-person')
					.h4  Частным лицам
					ul.mark-list
						li Для решения бытовых задач
						li Ремонт, стройка, переезд