//==========SECTION HERO ======
section.hero
	//===image===
	.hero-content-img
		
	.container
		.hero-content
			h1.h1  #[span.txt-pr «Рабочий легион»] — автоматизация процессов управления внештатным персоналом для бизнеса!
			//======  mark-list =======
			ul.mark-list
				li Быстрый и эффективный подбор временных сотрудников.
				li Оптимизация управления персоналом
				li Обучение и поддержка на любом этапе партнерства
				li Выгодное посредничество между заказчиками и исполнителями
			
			.buttons-group
				a(href="#!" frame-btn="popup" ).btn Присоедениться
				
	.header-benefits
		.container
			.fl-center
				//====single item ===
				.header-benefits-item
					.h3 В одном месте
					.reg-20 Единая платформа для удаленного управления самозанятыми
				//====single item ===
				.header-benefits-item
					.h3 5 дней
					.reg-20 От запуска и настройки до первого сотрудничества
				//====single item ===
				.header-benefits-item
					.h3 -40%
					.reg-20 Снижение затрат на пенсионный, медицинский, страховой фонды
			//==== кнопка для моб версии =====
			a(href="#!" frame-btn="popup" ).btn.w-100 Присоедениться