//==========PARTNERS ========
section.partners.dark-section#partners
	.container
		.partners-mobile-bg
		.partners-content
			h2.h2 Партнерская сеть
			h4.h5 Присоединяйтесь к партнерской сети «Рабочего Легиона» и получите мощный инструмент   для оптимизации работы с&nbsp;внештатными исполнителями!
			p Ищете надежного партнера для регулярного подбора персонала? Хотите, чтобы сотрудничество было долгосрочным, а главное – успешным? Команда «Рабочего легиона» с удовольствием научит вас наладить работу с внештатным персоналом и максимально автоматизировать все операционные процессы. Мы предлагаем:
			ul.mark-list
				li Доступ к базе проверенных специалистов
				li Устранение рутинных задач
				li Снижение затрат на ФОТ и налоговых рисков
			p Мы расскажем, как облегчить поиск, найм и управление самозанятыми исполнителями, сформировать отчетность, а также использовать приложение и чат-бот для эффективной коммуникации с исполнителями и&nbsp;клиентами!
			a(href="#!").btn Подробнее
