//==========PARTNERS ========
section.partners#partners.pb-124
	.container
		h2.h2.txt-center #[span.txt-pr2 «Рабочий легион»]  — партнерство<br> на выгодных условиях.<br>Мы всегда поддерживаем:
		.partners-card-wrapper
			.partners-card
				.partners-card__img
					img(src="./img/v2/picture5.webp", width="630" height="320" alt="img")
				p.reg-20 Крупный, финансово стабильный бизнес, который регулярно пользуется услугами самозанятых специалистов
			.partners-card
				.partners-card__img
					img(src="./img/v2/picture6.webp", width="630" height="320" alt="img")
				p.reg-20 Крупный, финансово стабильный бизнес, который регулярно пользуется услугами самозанятых специалистов
			.partners-card
				.partners-card__img
					img(src="./img/v2/picture7.webp", width="630" height="320" alt="img")
				p.reg-20 Крупный, финансово стабильный бизнес, который регулярно пользуется услугами самозанятых специалистов
			.partners-card
				.partners-card__img
					img(src="./img/v2/picture8.webp", width="630" height="320" alt="img")
				p.reg-20 Крупный, финансово стабильный бизнес, который регулярно пользуется услугами самозанятых специалистов