section.price.bg-dark.pb-124#price
	.container
		h2.h2.h2--special.txt-center Тарифы
		.price-cards
			//====card ===
			.price-card
				.h4 Паушальный взнос
				.h2 200 000 ₽
				ul.mark-list.reg-20
					li Доступ к платформе и мобильному приложению
					li Настройка и интеграция платформы под Ваши бизнес-процессы
					li Обучение персонала работе с платформой
					li Техническая поддержка и консультации экспертов
					li Доступ к базе знаний и методическим рекомендациям
				a(href="#!").btn.w-100 Сотрудничать
			//====card ===
			.price-card
				.h4 Пользование системой
				.h2 15 000 ₽
				ul.mark-list.reg-20
					li Использование функционала платформы
					li Доступ к базе проверенных самозанятых исполнителей
					li Автоматический расчет и оплата налогов за самозанятых
					li Техническое обслуживание и развитие платформы
					
				a(href="#!").btn.w-100 Сотрудничать