mixin sc(img, title, txt)
	//======single card =====
	a(href="#!").service-card
		.sc__img
			img(src="./img/serv"+ img +".webp", width="410" alt="alt")
		.sc__txt
			h3.h5 #{title}
			p #{txt}
			
			span.cta-link
				span Создать заказ
				svg.svg-right
					use( href='./img/spriteSvg.svg#svg-left')
section.services#services
	.container
		h2.h2 Услуги
		.services-wrapper
			+sc(1, 'Погрузочно-разгрузочные работы', 'Погрузка и разгрузка грузов с помощью специализированной техники или вручную')
			+sc(2, 'Подсобные работы', 'Помощь при выполнении различных задач на строительных или других объектах')
			+sc(3, 'Уборка', 'Очистка помещений, территорий или объектов от мусора, пыли и других загрязнений')
			+sc(4, 'Расчистка участка', 'Избавление от кустарника, мусора и других преград для подготовки участка к дальнейшей работе')
			+sc(5, 'Спил деревьев', 'Спиливание деревьев с помощью специализированного инструмента для очистки или подготовки участка')
			+sc(6, 'Покос травы', 'Скашивание высокой травы с помощью газонокосилки или другого инструмента для поддержания ухоженного вида участка')
			+sc(7, 'Стрижка кустов', 'Обрезка кустарников и формирование живых изгородей или декоративных элементов на участке')
			+sc(8, 'Домашний переезд', 'Помощь в перевозке мебели, вещей и других грузов с одного места на другое в пределах здания или города')
			+sc(9, 'Сварка', 'Соединение металлических деталей с помощью сварочного оборудования для созд ания прочных и надежных конструкций')