//=========ОТЛИЧНЫЙ ВЫБОР ========
section.why-us.pb-124#why-us
	.container.container-large
		h2.h2.txt-center #[span.txt-pr2 «Рабочий легион»] —  оптимальное решение, если вы
		//======== БЛОК С КАРТОЧКАМИ =========
		.serv-card-wrapper(data-aos="fade-up")
			//======== SINGLE CARD =========
			.serv-card(style="background-image: url('./img/v2/picture1.webp')")
				.serv-card__text
					.h5 Регулярно нуждаетесь в подборе разнорабочих
					p.body Рабочий легион – платформа, где всегда найдутся сотрудники самых разных специальностей.  Вы без проблем сможете найти бригаду на сегодня или завтра, при чем это будут специалисты с хорошим рейтингом и положительными отзывами
			//======== SINGLE CARD =========
			.serv-card(style="background-image: url('./img/v2/picture2.webp')")
				.serv-card__text
					.h5 Цените долгосрочное сотрудничество
					p.body Мы предлагаем доступ с ежемесячной оплатой и ценим каждого клиента – предоставляем личного консультанта, проводим обучение, рассказываем, как использовать возможности платформы максимально эффективно, при этом экономить
			//======== SINGLE CARD =========
			.serv-card(style="background-image: url('./img/v2/picture3.webp')")
				.serv-card__text
					.h5 Работаете официально
					p.body Не нарушаете нормы законодательства, при этом не планируете официально трудоустраивать внештатных сотрудников. Выбираете работать «сдельно» и оплачивать выполненную работу по факту? В этой ситуации наша цифровая платформа будет оптимальным решением!
			//======== SINGLE CARD =========
			.serv-card(style="background-image: url('./img/v2/picture4.webp')")
				.serv-card__text
					.h5 Приветствуете автоматизацию рутинных задач и процессов
					p.body Наша система упрощает оформление договоров, выплату зарплат, решение бухгалтерских и юридических вопросов, а также значительно экономит время и ресурсы на поиск и отбор подходящих исполнителей