//=========ОТЛИЧНЫЙ ВЫБОР ========
section.why-us#why-us
	.container
		h2.h2 Рабочий легион — отличный выбор, если вы:
		//======== БЛОК С КАРТОЧКАМИ =========
		.serv-card-wrapper
			//======== SINGLE CARD =========
			.serv-card
				.serv-card__img
					img(src="./img/card1.webp", width="644" alt="img")
				.serv-card__text
					.h3 Ищете разнорабочих «на вчера»
					p.reg-20 Срочный подбор – главное преимущество сервиса. Мы без проблем подберем исполнителя для любых задач, при этом долго ждать не придется. Как правило, большинство рабочих готовы приступить к делу уже на следующий день
			//======== SINGLE CARD =========
			.serv-card
				.serv-card__img
					img(src="./img/card2.webp", width="644" alt="img")
				.serv-card__text
					.h3 Цените надежных и&nbsp;ответственных сотрудников
					p.reg-20 Срочный подбор – главное преимущество сервиса. Мы без проблем подберем исполнителя для любых задач, при этом долго ждать не придется. Как правило, большинство рабочих готовы приступить к делу уже на следующий день
			//======== SINGLE CARD =========
			.serv-card
				.serv-card__img
					img(src="./img/card3.webp", width="644" alt="img")
				.serv-card__text
					.h3 Предпочитаете  работать&nbsp;«сдельно»
					p.reg-20 Постоянное присутствие разнорабочих – не всегда необходимо и очень недешево. Мы предлагаем почасовую оплату и прозрачные условия сотрудничества
			//======== SINGLE CARD =========
			.serv-card
				.serv-card__img
					img(src="./img/card4.webp", width="644" alt="img")
				.serv-card__text
					.h3 Не хотите заниматься бумажной&nbsp;волокитой
					p.reg-20 Оформление договоров, выплату зарплаты, налогов и все другие бухгалтерские и юридические вопросы «Рабочий легион» берет на себя