*[class^="icon-"] {
	display: inline-block;
	color: #333333;
	width: 24px;
	height: 24px;
}
svg {
	display: inline-block;
	color: #333333;
}
svg.svg-logo{
	color: black;
}
svg.svg-phone{
	width: 18px;
	height: 18px;
}
svg.svg-cross {
	width: 14px;
	height: 14px;
}
svg.svg-envelop {
	width: 20px;
	height: 16px;
}
svg.svg-left, svg.svg-right{
	width: 8px;
	height: 12px;
}
svg.svg-right{transform: rotate(180deg);}
svg.svg-user{
	color: #0E0E0E;
	width: 27px;
	height: 26px;
}
svg.svg-del{
	color: #0E0E0E;
	width: 18px;
	height: 20px;
}


svg.svg-tg{
	width: 24px;
	height: 24px;
	color: #0E0E0E;
}
svg.svg-check{
	color: #EB5757;
	width: 20px;
	height: 15px;
}

.svg-ic1,
.svg-ic2,
.svg-ic3,
.svg-ic4,
.svg-ic5,
.svg-ic6{
	width: 64px;
	height: 64px;
	@media (max-width: 767px) {
	width: 48px;
	height: 48px;
	}
}
.fl-icon{
	width: 80px;
	height: 80px;
	border-radius: 8px;
	background-color: $pr;
	flex-shrink: 0;
	@media (max-width: 1199px) {
		width: 64px;
		height: 64px;
	}
}
svg.big-check{
	width: 112px;
	height:83px;
}