$ab: rgba(14, 14, 14, 1);
$g1:rgba(51, 51, 51, 1);
$g2: rgba(130, 130, 130, 1);
$g3: rgba(221, 221, 221, 1);
$g4: rgba(245, 245, 245, 1);
$bg: rgba(244, 248, 254, 1);
$er: rgba(219, 55, 31, 1);
$pr: rgba(255, 199, 0, 1);
$pr2: rgba(235, 87, 87, 1);