.serv-card{
	grid-column: span 6;
	position: relative;
	height: 590px;
	padding: 24px 32px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	color: white;
	&:before{
		content:'';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60%;
		background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	}
	&__text{
		position: relative;
		z-index: 5;
		max-width: 630px;
		.h5{color: white;margin-bottom: 12px;}
		.body{color: $g3; min-height: 102px;}
	}
	@media (max-width: 1023px) {
		height: 480px;
		grid-column: span 12;
		text-align: left;
	}
	@media (max-width: 767px) {
		grid-column: span 12px;
	
	
	padding: 24px 16px;
	}
}
.serv-card:nth-child(2n){
	text-align: left;
	
}