extends ../layouts/layout.pug

block content
	.container
		
		p
			a(href="main.html") Главная	
		button.btn Кнопка

		a(href="#!").btn Кнопка-link
		input(type="submit" value="Кнопка-input").btn 
		
		div(style="background-color: #000000; padding: 30px 20px;")
			button.btn.btn--outline Кнопка
		div
			svg.svg-phone
				use( href='./img/spriteSvg.svg#svg-phone')
			pre.
				svg.svg-phone
					use( href='./img/spriteSvg.svg#svg-phone')
			
		hr
		div
			svg.svg-cross
				use( href='./img/spriteSvg.svg#svg-cross')
			pre.
				svg.svg-cross
					use( href='./img/spriteSvg.svg#svg-cross')
		hr
		div
			svg.svg-envelop
				use( href='./img/spriteSvg.svg#svg-envelop')
			pre.
				svg.svg-envelop
					use( href='./img/spriteSvg.svg#svg-envelop')
		hr
		div
			svg.svg-left
				use( href='./img/spriteSvg.svg#svg-left')
			pre.
				svg.svg-left
					use( href='./img/spriteSvg.svg#svg-left')
			
		hr
		div
			svg.svg-user
				use( href='./img/spriteSvg.svg#svg-user')
			pre.
				svg.svg-user
					use( href='./img/spriteSvg.svg#svg-user')
		hr
		div
			svg.svg-settings
				use( href='./img/spriteSvg.svg#svg-settings')
			pre.
				svg.svg-settings
					use( href='./img/spriteSvg.svg#svg-settings')
		hr
		div
			svg.svg-del
				use( href='./img/spriteSvg.svg#svg-del')
			pre.
				svg.svg-del
					use( href='./img/spriteSvg.svg#svg-del')
			
		hr
		div
			svg.svg-chat
				use( href='./img/spriteSvg.svg#svg-chat')
			pre.
				svg.svg-chat
					use( href='./img/spriteSvg.svg#svg-chat')
		hr
		div
			svg.svg-rev
				use( href='./img/spriteSvg.svg#svg-rev')
			pre.
				svg.svg-rev
					use( href='./img/spriteSvg.svg#svg-rev')
		hr
		div
			svg.svg-crow
				use( href='./img/spriteSvg.svg#svg-crow')
			pre.
				svg.svg-crow
					use( href='./img/spriteSvg.svg#svg-crow')
		hr
		div
			svg.svg-globus
				use( href='./img/spriteSvg.svg#svg-globus')
			pre.
				svg.svg-globus
					use( href='./img/spriteSvg.svg#svg-globus')
		hr
		div
			svg.svg-screen
				use( href='./img/spriteSvg.svg#svg-screen')
			pre.
				svg.svg-screen
					use( href='./img/spriteSvg.svg#svg-screen')
		hr
		div
			svg.svg-calend
				use( href='./img/spriteSvg.svg#svg-calend')
			pre.
				svg.svg-calend
					use( href='./img/spriteSvg.svg#svg-calend')
		
		
		hr
		div
			svg.svg-house
				use( href='./img/spriteSvg.svg#svg-house')
			pre.
				svg.svg-house
					use( href='./img/spriteSvg.svg#svg-house')
		hr
		div
			svg.svg-tg
				use( href='./img/spriteSvg.svg#svg-tg')
			pre.
				svg.svg-tg
					use( href='./img/spriteSvg.svg#svg-tg')	
		hr
		div
			svg.svg-person
				use( href='./img/spriteSvg.svg#svg-person')
			pre.
				svg.svg-person
					use( href='./img/spriteSvg.svg#svg-person')	
		hr
		div
			.serv-list
				.fl-icon.bg-dark
					svg.svg-person
						use( href='./img/spriteSvg.svg#svg-person')
				.h4  Компаниям, предприятиям
				ul.mark-list
					li Под конкретные проекты
					li Под конкретные проекты						
		
		p.contact-item
			svg.svg-phone
				use( href='./img/spriteSvg.svg#svg-phone')
				span 8 (800) 123-45-67
		pre.
			p.img-item
				svg.svg-phone
					use( href='./img/spriteSvg.svg#svg-phone')
					span 8 (800) 123-45-67			
		
		div
			+benefit('user', 'Высокая скорость поиска', 'От подачи заявки, заполнения анкеты до найма, как правило, проходит несколько часов. Система максимально автоматизирована, а исполнителей более чем достаточно')
			pre.
				+benefit('user', 'Высокая скорость поиска', 'От подачи заявки, заполнения анкеты до найма, как правило, проходит несколько часов. Система максимально автоматизирована, а исполнителей более чем достаточно')
		ol.num-list
			li Заполните заявку на сайте
			li Заполните заявку на сайте
			li Заполните заявку на сайте
		.serv-card-wrapper
			.serv-card
				.serv-card__img
					img(src="./img/card1.webp", width="644" alt="img")
				.serv-card__text
					.h3 Ищете разнорабочих «на вчера»
					p.reg-20 Срочный подбор – главное преимущество сервиса. Мы без проблем подберем исполнителя для любых задач, при этом долго ждать не придется. Как правило, большинство рабочих готовы приступить к делу уже на следующий день 
			.serv-card
				.serv-card__img
					img(src="./img/card1.webp", width="644" alt="img")
				.serv-card__text
					.h3 Ищете разнорабочих «на вчера»
					p.reg-20 Срочный подбор – главное преимущество сервиса. Мы без проблем подберем исполнителя для любых задач, при этом долго ждать не придется. Как правило, большинство рабочих готовы приступить к делу уже на следующий день 
		
		.h2 FORM
		.form-item
			input.form-input(type="text" name="")
			p.fake-placeholder Ведите имя #[span *]
		
		.form-item.error
			input.form-input(type="text" name="")
			p.fake-placeholder Ведите имя #[span *]
			p.error This is for error messages

		.form-item
			.mydatepicker#datepicker
				input.form-input(type="text" class="datepicker" )
				p.fake-placeholder Выберите дату #[span *]

				.apps-wrapper
					//====== БОТ БЛОК =====
					.bot-block
						h4.cap-700 Для перехода к чат-боту – выберите город
						//===== выбор города ====
						.custom-select-wrapper
							.custom-select
								.custom-select__trigger
									span Москва #[sup *]
									.arrow
								.custom-options
									span.custom-option.selected(data-value="Москва") Москва
									span.custom-option(data-value="Саратов") Саратов
									span.custom-option(data-value="Ростов") Ростов
									span.custom-option(data-value="Санкт-Петербург") Санкт-Петербург
						
						//===== ссылка телеграм =====
						a(href="#!").btn.w-100 Открыть бота в Telegram
					
					//======ПРИЛОЖЕНИЯ =====
					.app-block
						h4.cap-700 Установить приложение
						.fl-row
							//====qr  код =====
							.qrcode-img
								img(src="./img/qrcode.svg", width="111" alt="img")
							
							//====app links  =====
							.app-links
								a(href="#!").app-link
									img(src="./img/google-play.svg", alt="")
								a(href="#!").app-link
									img(src="./img/app-store.svg", alt="")

block variables
	-var title = "Page";
